* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#mode {
    margin-left: 80%;
    margin-top: 50px;
    height:30px;
    width: 90px;
    border-radius: 4px;
    font-weight: bold;
    color:Black;
    cursor: pointer;
    background-color: white;
    border-color: red;
}

#frame {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgb(254, 253, 253);
    height: 400px;
    width:400px;
    border-radius: 2%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#frame img{
    height:70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
h1{
    color: red;
    margin-top: 5px;
}

h2 {
    color: red;
    margin-top: 5px;
}

#btn {
    margin-top: 10px;
    height:30px;
    width: 90px;
    color: Black;
    font-weight: bold;
    background-color: white;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    
}